// bower:scss
// endbower

$fa-css-prefix: icon;

@import 
    "fontawesome/scss/variables",
    "fontawesome/scss/mixins",
    "fontawesome/scss/path",
    "fontawesome/scss/core",
    "fontawesome/scss/larger",
    "fontawesome/scss/fixed-width",
    "fontawesome/scss/list",
    "fontawesome/scss/bordered-pulled",
    "fontawesome/scss/spinning",
    "fontawesome/scss/rotated-flipped",
    "fontawesome/scss/stacked",
    "fontawesome/scss/icons",

    "mixins";

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    text-align: center;
}

.upload-area {

    @extend .icon;
    @extend .icon-cloud-upload;

    $color: desaturate(lighten(blue, 15%), 70%);
    $bgColor: lighten($color, 30%);

    color: $color;
    background-color: $bgColor;
    text-align: center;
    font-size: 150%;
    width: 12em;
    height: 12em;
    border: 10px dotted $color;
    border-radius: 15%;
    padding: 1em;
    line-height: 1.5;

    &:before {
        @include insetTextShadow($color);
        line-height: 1;
        display: block;
        text-align: center;
        font-size: 500%;
    }

    &.on-drag-hover {
        opacity: .5;
    }

}

.upload-area {
    display: inline-block;
    margin: 1em;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

